[user]
	name = Tristan Peralta
	email = tristanperalta@gmail.com
[core]
	autocrlf = input
	safecrlf = warn
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	amend = commit --amend
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
